#MainPart_lbExpectedServiceTime,
#MainPart_lbExpectedServiceTimeTimeZonePostfix {
  display: none;
}
.queue .processbar-box .holder #expectedServiceTime {
  padding-left: 5px;
  font-family: inherit;
  color: #a05b12;
  font-weight: bold;
}

#MainPart_h2MessageOnQueueTicketTimeText,
#MainPart_h2MessageOnQueueTicketTimeTextTimeZonePostfix {
  display: none;
}
#pConfirmRedirectTime > span {
  display: none;
}
