@-webkit-keyframes diagonal {
  from {
    background-position: 0px;
  }
  to {
    background-position: 50px;
  }
}
@-moz-keyframes diagonal {
  from {
    background-position: 0px;
  }
  to {
    background-position: 50px;
  }
}
@keyframes diagonal {
  from {
    background-position: 0px;
  }
  to {
    background-position: 50px;
  }
}
/* ppprogressbar */
.progressbar {
  background: #fff;
  border: 5px solid #000;
}
.progressbar .progress,
.progressbar .progress.updated {
  background-color: black;

  background-image: linear-gradient(130deg, blue 19px, orange 20px, orange 38px, blue 39px);

  background-size: 50px;
}

.progressbar .progress.updated {
  -webkit-animation: diagonal 1s linear infinite !important;
  -moz-animation: diagonal 1s linear infinite !important;
  animation: diagonal 1s linear infinite !important;
}
