@-webkit-keyframes burst {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
@-moz-keyframes burst {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
@keyframes burst {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
/* progressbar ppp  */
.progressbar {
  background: #4d4d4d;
  border: 5px solid #000;
}
.progressbar .progress,
.progressbar .progress.updated {
  background-color: #317890;
  background-image: none;
  background-size: 200% 100%;
  background-image: linear-gradient(90deg, #317890 0%, #317890 100%);
}

.progressbar .progress.updated {
  background-image: linear-gradient(90deg, rgba(63, 133, 255, 0) 0%, #41bcff 20%, rgba(63, 133, 255, 0) 23%);
  background-size: 200% 100%;
  -webkit-animation: burst 2s ease-out 3 forwards;
  -moz-animation: burst 2s ease-out 3 forwards;
  animation: burst 2s ease-out 3 forwards;
}
