/* temp css - beginning */
/* Do not upload!!! */

/* Only for testing - show or hide the sections which are otherwise set on the custom layout page */

/* hide iframes - beginning */

#toppanel {
  /*display: none;*/
}

#leftpanel {
  display: none;
}

#middlepanel {
  display: none;
}

#rightpanel {
  display: none;
}

#sidebar {
  display: none;
}

#bottompanel {
  display: none;
}

#language-selector {
  display: none;
}

/* hide iframes - end */

.logo {
  display: none;
}

.logo img {
  content: url(logo.png);
}

.reminder-form {
  /*display: none;*/
}
#MainPart_lbQueueNumberText,
#MainPart_lbQueueNumber,
#MainPart_lbUsersInLineAheadOfYouText,
#MainPart_lbUsersInLineAheadOfYou,
#MainPart_lbExpectedServiceTimeText,
#MainPart_lbExpectedServiceTime,
#MainPart_lbExpectedServiceTimeTimeZonePostfix,
#MainPart_lbWhichIsInText,
#MainPart_lbWhichIsIn {
  /*display: none;*/
}

/* Queue information */

/* Number in line  */
#MainPart_lbQueueNumberText,
#MainPart_lbQueueNumber,
#MainPart_lbQueueNumberLineBreak {
  /* display: none; */
}

/* users ahead */
#MainPart_lbUsersInLineAheadOfYouText,
#MainPart_lbUsersInLineAheadOfYou,
#MainPart_lbUsersInLineAheadOfYouLineBreak {
  /* display: none; */
}

/* Expected arrival time  */
#MainPart_lbExpectedServiceTimeText,
#MainPart_lbExpectedServiceTime,
#MainPart_lbExpectedServiceTimeTimeZonePostfix,
#MainPart_lbExpectedServiceTimeLineBreak {
  /* display: none; */
}

/*
Your Estimated arrival time. 
Your estimated wait time is
*/
#MainPart_lbWhichIsInText,
#MainPart_lbWhichIsIn {
  /* display: none; */
}

/* message */
.time-box {
  /* display: none; */
}

/* email */
#MainPart_frmReminder2 {
  /* display: none; */
}
/* leave the line  */
#MainPart_divExitLine {
  display: none;
}
/* queue-it link logo */
#footer-queueit-link .by {
}
.progressbar .progress .runner {
  content: url(./default_images/player_right_walk1-0.2.gif);
}
.progressbar .progress .runner.paused {
  content: url(./default_images/person_pause.png);
}
/* temp css - end */
