.progressbar .progress {
  background-color: inherit;
  background-image: url(progress2-black.gif);
}

.progressbar .progress.updated {
  background-image: url(progress2-1-black.gif);
}

/* to change the size of the radial progressbar, change all of the @circle-size accordingly */

.radial-progressbar {
  height: 150px; /*@circle-size */
  width: 150px; /*@circle-size */
  margin: 5px auto;
  border-radius: 50%;
}

.circle .mask,
.circle .fill,
.circle .shadow {
  height: 150px; /*@circle-size */
  width: 150px; /*@circle-size */
  border-radius: 50%;
  position: absolute;
}
.circle .shadow {
  box-shadow: 0px 0 40px 0px inset rgba(0, 0, 0, 0.2);
}
.circle .mask,
.circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  border-radius: 50%;
}
.circle .mask {
  clip: rect(
    0px,
    150px,
    150px,
    75px
  ); /*clip: rect(0px, @circle-size, @circle-size, @circle-size/2); */
}
.circle .mask .fill {
  clip: rect(
    0px,
    75px,
    150px,
    0px
  ); /*clip: rect(0px, @circle-size/2, @circle-size, 0px);*/
  background-color: #a3d092;
}

.circle-inset {
  background-color: #3daf2c;
  width: 100px;
  height: 100px;
  position: relative;
  top: 24px;
  left: 25px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 0px rgba(49, 46, 46, 0.61);
  border: 1px solid rgba(136, 136, 136, 0.58);
}
.circle-inset .runner {
  width: 80px;
  height: 80px;
  position: relative;
  top: 8px;
  left: 9px;
  background-image: url(player_w_right_walk1-0.2.gif);
  background-size: 80%;
  background-position: 5px center;
  background-repeat: no-repeat;
}

.circle-inset .runner.paused {
  left: 33px;
  background-image: url(./person_pause_w.png);
  background-size: 80%;
  background-position: 7px center;
  background-repeat: no-repeat;
}
.circle-inset .contents {
  /*for percentage display */
  display: none;
  position: absolute;
  top: 30px;
  left: 24px;
  line-height: 1;
  text-align: center;
  color: pink;
  font-weight: 800;
}

.circle .mask.full,
.circle .fill {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.circle .fill.fix {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
